:root {
    --main-color: floralwhite;
    --header-color: #9b5de5;
    --article-container-color: #f15bb5;
    --article-color: #fee440;
    --aside-color: #00bbf9;
    --footer-color: #00f5d4;
}

#link-section {
    position: absolute;
    left: 1rem;

    color: blue;
    font-size: max(1rem, 3vh);
}

#content-section {
    min-height: 100vh;
    min-width: 250px;
    text-align: center;
    color: black;
    background-color: var(--main-color);
}

#content-section > * {
    border-radius: 0.5em;
    width: 80%;
}

div {
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--header-color);
}

main {
    
}

@media (orientation: landscape) {
    
}

.article-container {
    padding: 0.25em;
    background-color: var(--article-container-color);
}

.article-container > div {
    height: 3em;
    font-size: 0.75em;
    background-color: var(--article-color);
}

.aside {
    background-color: var(--aside-color);
    flex: 1;
}

footer {
    background-color: var(--footer-color);
}